﻿@model FixedDD.Models.FixdDepModel
@{
    ViewBag.Title = "Add Seat";
    Layout = "~/Views/Shared/Popup.cshtml";
}
<style>
    .heading {
        text-align: center;
        display: block !important;
        background: #ecf3f9 !important;
        color: red;
        padding: 5px;
    }

    .row_border {
        border: 1px solid #000;
        padding: 5px;
    }
</style>


<div class="container-fluid">
    <div class="row form-group row_border">
        @Html.HiddenFor(p => p.Id)
        @Html.HiddenFor(p => p.Pnr)
        <div class="col-sm-12 form-group" id="AddMinusNewSectionMessage" style="display:none;"></div>
        <div class="col-sm-12 form-group" style="border-bottom:2px dotted #ccc;" id="AddMinusNewSection">
            <div class="row" id="AddSeatSection">
                <div class="col-sm-12 form-group">
                    <label class="heading">Add Seat :&nbsp;&nbsp;&nbsp;&nbsp;[ Pnr - @Model.Pnr ]</label>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3 form-group">
                        <label>Enter Seat</label>
                        @Html.TextBoxFor(b => b.Seat, new { @class = "form-control ", placeholder = "Add Seat", type = "number", @onkeyup = "ShowAddSeatSection()" })
                    </div>
                    <div class="col-sm-9 form-group">
                        <div class="row">
                            <div class="col-sm-4 form-group form-validation">
                                <label>PNR No.</label>
                                @Html.TextBoxFor(b => b.Pnr, new { @class = "form-control ", placeholder = "Pnr", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 form-group form-validation">
                        <label>Basic Fare</label>
                        @Html.TextBoxFor(b => b.Basefare, new { @class = "form-control ", placeholder = "Basic Fare", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>YQ</label>
                        @Html.TextBoxFor(b => b.YQ, new { @class = "form-control ", placeholder = "YQ", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>YR</label>
                        @Html.TextBoxFor(b => b.YR, new { @class = "form-control ", placeholder = "YR", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>OT</label>
                        @Html.TextBoxFor(b => b.OT, new { @class = "form-control ", placeholder = "OT", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-4 form-group form-validation">
                        <label>Grand Total</label>
                        @Html.TextBoxFor(b => b.Grand_total, new { @class = "form-control ", placeholder = "Grand Total", @onkeypress = "return isNumberValidationPrevent(event);", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @*<div class="col-sm-2 form-group form-validation">
                            <label>Markup1</label>
                            @Html.TextBoxFor(b => b.Markup, new { @class = "form-control ", placeholder = "Markup 1", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);" })
                        </div>
                        <div class="col-sm-2 form-group form-validation">
                            <label>Markup2</label>
                            @Html.TextBoxFor(b => b.Markup2, new { @class = "form-control ", placeholder = "Markup 2", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);" })
                        </div>*@
                    <div class="col-sm-3 form-group form-validation">
                        <label>Infant Fare</label>
                        @Html.TextBoxFor(b => b.Infentfare, new { @class = "form-control ", placeholder = "Infant Fare", disabled = "disabled", @onkeypress = "return isNumberValidationPrevent(event);" })
                    </div>
                    <div class="col-sm-9 form-group form-validation">
                        @*<input type="submit" id="btnAddSubmit" class="btn btn-warning btn-sm btn-lg pull-right fontSizebtn" value="Add Seat" style=" margin-top: 28px;" disabled />*@
                        <span id="btnAddSubmit" class="btn btn-warning btn-sm btn-lg pull-right fontSizebtn" style="margin-top: 28px;" disabled>Add Seat</span>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 form-group" id="MinusSeatSection">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="heading">Minus Seat :&nbsp;&nbsp;&nbsp;&nbsp;[ Pnr - @Model.Pnr ]</label>
                    </div>
                    @*@using (Html.BeginForm("MinusNewSeat", "FlightSearchResults", FormMethod.Post))
                        {*@
                    <div class="col-sm-12">
                        <div class="col-sm-3 form-group">
                            <label value="" data-avlseat="0">Select Fare</label>
                            <select id="ddlFare" class="form-control" onchange="GetAvlSeatDetail()">
                                <option>Select Fare</option>
                                @{
                                    List<SelectListItem> listItems = Model.BasicFareList;
                                    foreach (var item in listItems)
                                    {
                                        string[] strsplit = item.Text.Split(',');
                                        <option value="@item.Value" data-avlseat="@strsplit[1]">@strsplit[0]</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Seat Left</label>
                            <input type="text" id="txtSeatLeft" class="form-control fontSize" readonly="readonly" value="0" />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Minus Seat</label>
                            <select id="ddlMinusSeat" class="form-control" onchange="SelectedMinusSeat()"><option>Select Minus Seat</option></select>
                        </div>
                        <div class="col-sm-3 form-group">
                            @*<input type="submit" id="btnMinusSubmit" class="btn btn-warning btn-sm btn-lg pull-right fontSizebtn" value="Minus Seat" style="margin-top: 28px;" disabled />*@
                            <span id="btnMinusSubmit" class="btn btn-warning btn-sm btn-lg pull-right fontSizebtn" style="margin-top: 28px;" disabled>Minus Seat</span>
                        </div>
                    </div>
                    @*}*@
                </div>
            </div>
            <div class="col-sm-12 form-group" id="AddMoreSeatSection">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="heading">ADD MORE SEAT IN EXISTING FARE :&nbsp;&nbsp;&nbsp;&nbsp;[ Pnr - @Model.Pnr ]</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 form-group" id="divMessageSection" style="display: none; text-align: center;"></div>

                        <div class="col-sm-3 form-group">
                            <label value="" data-avlseat="0">Select Fare</label>
                            <select id="ddlExitFare" class="form-control" onchange="GetExitingAvlSeatDetail()">
                                <option value="0">Select Fare</option>
                                @{
                                    List<SelectListItem> objlistItems = Model.BasicFareList;
                                    foreach (var item in objlistItems)
                                    {
                                        string[] strsplit = item.Text.Split(',');
                                        <option value="@item.Value" data-avlseat="@strsplit[1]">@strsplit[0]</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Avl Seat</label>
                            <input type="text" id="txtExitAvlSeat" class="form-control fontSize" readonly="readonly" value="0" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Add More Seat</label>
                            <input type="number" id="txtAddMoreSeat" class="form-control fontSize" value="0" />
                        </div>
                        <div class="col-sm-2 form-group">
                            <span id="btnAddMoreSeatSubmit" class="btn btn-warning btn-sm btn-lg pull-right fontSizebtn" style="margin-top: 28px;" disabled>Add More Seat</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/fancybox/common.js"></script>
<script>
    function CheckForm() {
        if (CheckBlankValidation('Grand_total')) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }

    function ShowAddSeatSection() {
        $('#btnAddSubmit').attr('disabled', 'disabled');
        let toaddseat = $("#Seat").val();
        if (toaddseat != "" && parseInt(toaddseat) > 0) {
            $('#btnAddSubmit').removeAttr("disabled");
            $("#Basefare").removeAttr("disabled"); $("#YQ").removeAttr("disabled");
            $("#YR").removeAttr("disabled"); $("#OT").removeAttr("disabled"); $("#Grand_total").val("0");
            /*$("#Markup").removeAttr("disabled"); $("#Markup2").removeAttr("disabled");*/ $("#Infentfare").removeAttr("disabled");
        }
        else {
            $("#Basefare").attr('disabled', 'disabled').val(""); $("#YQ").attr('disabled', 'disabled').val("");
            $("#YR").attr('disabled', 'disabled').val(""); $("#OT").attr('disabled', 'disabled').val(""); $("#Grand_total").val("0");
            /*$("#Markup").attr('disabled', 'disabled').val("0"); $("#Markup2").attr('disabled', 'disabled').val("0");*/ $("#Infentfare").attr('disabled', 'disabled').val("0");
        }
    }

    function CalculateFare() {
        let basefare = ($("#Basefare").val() == "" ? 0 : parseFloat($("#Basefare").val()));
        let yqfare = ($("#YQ").val() == "" ? 0 : parseFloat($("#YQ").val()));
        let yrfare = ($("#YR").val() == "" ? 0 : parseFloat($("#YR").val()));
        let otfare = ($("#OT").val() == "" ? 0 : parseFloat($("#OT").val()));
        $("#Grand_total").val(basefare + yqfare + yrfare + otfare);
    }

    $("#btnAddSubmit").click(function () {
        if ($("#Seat").val() == "" || $("#Seat").val() == "0") {
            alert("Please enter seat first");
            $("#Seat").focus();
            return false;
        }
        if ($("#Grand_total").val() == "" || $("#Grand_total").val() == "0") {
            alert("Please enter grand total amount");
            $("#Grand_total").focus();
            return false;
        }
        $("#btnAddSubmit").html("Please wait...<i class='fa fa-spinner fa-pulse'></i>");
        /*$("#MinusSeatSection").css("display", "none");*/

        var model = {};
        model.Id = $("#Id").val();
        model.Pnr = $("#Pnr").val();

        model.Grand_total = $("#Grand_total").val();
        model.Seat = $("#Seat").val();
        model.Avl_Seat = model.Seat;
        model.Total_Seats = model.Seat;
        model.Infentfare = $("#Infentfare").val();
        model.Basefare = $("#Basefare").val();
        model.YQ = $("#YQ").val();
        model.YR = $("#YR").val();
        model.OT = $("#OT").val();
        model.WO = $("#WO").val();
        model.Markup = "0";
        model.Markup2 = "0";

        $.ajax({
            type: "Post",
            url: "/FlightSearchResults/AddNewSeat",
            data: '{model: ' + JSON.stringify(model) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $("#AddMinusNewSectionMessage").css("display", "block");
                if (data != "") {
                    $("#AddMinusNewSectionMessage").html("<div class='alert alert-success'><strong>" + data + "</strong></div>");
                    $("#AddMinusNewSection").css("display", "none");
                    $("#btnAddSubmit").html("Add Seat");
                }
                else {
                    $("#AddMinusNewSectionMessage").html("<div class='alert alert-danger'><strong>There is some error occured</strong></div>");
                }
            }
        });
    });

    function resetaddfields() {
        $('#btnAddSubmit').attr('disabled', 'disabled');

        $("#Basefare").attr('disabled', 'disabled').val(""); $("#YQ").attr('disabled', 'disabled').val("");
        $("#YR").attr('disabled', 'disabled').val(""); $("#OT").attr('disabled', 'disabled').val(""); $("#Grand_total").val("0");
        /*$("#Markup").attr('disabled', 'disabled').val("0"); $("#Markup2").attr('disabled', 'disabled').val("0");*/ $("#Infentfare").attr('disabled', 'disabled').val("0");
    }

    function GetAvlSeatDetail() {
        let selfareid = $("#ddlFare option:selected").val();
        let selfaretext = $("#ddlFare option:selected").text();
        let selavlseat = $("#ddlFare option:selected").data("avlseat");

        if (parseInt(selavlseat) > 0) {
            $("#txtSeatLeft").val(selavlseat);

            $("#ddlMinusSeat").children().remove();
            $("#ddlMinusSeat").append($('<option>').val("").text('Select Minus Seat'));
            for (let i = 1; i <= parseInt(selavlseat); i++) {
                $("#ddlMinusSeat").append($('<option></option>').val(i).html(i));
            }
        }
        else {
            $("#txtSeatLeft").val("0");
            $('#btnMinusSubmit').attr('disabled', 'disabled');
            $("#ddlMinusSeat").children().remove();
            $("#ddlMinusSeat").append($('<option>').val("").text('Select Minus Seat'));
        }
    }

    function SelectedMinusSeat() {
        let minusseat = $("#ddlMinusSeat option:selected").val();
        $('#btnMinusSubmit').attr('disabled', 'disabled');

        if (minusseat != "") {
            $('#btnMinusSubmit').removeAttr("disabled");
        }
    }

    $("#btnMinusSubmit").click(function () {
        if ($("#ddlFare option:selected").val() == "" || $("#ddlFare option:selected").val() == "0") {
            alert("Please select fare first");
            $("#ddlFare").focus();
            return false;
        }
        if ($("#txtSeatLeft").val() == "" || $("#txtSeatLeft").val() == "0") {
            alert("Please enter seat left");
            $("#txtSeatLeft").focus();
            return false;
        }
        if ($("#ddlMinusSeat option:selected").val() == "" || $("#ddlMinusSeat option:selected").val() == "0") {
            alert("Please select seat you want to minus");
            $("#ddlMinusSeat").focus();
            return false;
        }

        $("#btnMinusSubmit").html("Please wait...<i class='fa fa-spinner fa-pulse'></i>");
        var model = {};
        model.Id = $("#ddlFare option:selected").val();
        model.Pnr = $("#Pnr").val();
        model.Seat = $("#ddlMinusSeat option:selected").val();

        $.ajax({
            type: "Post",
            url: "/FlightSearchResults/MinusNewSeat",
            data: '{id: ' + JSON.stringify(model.Id) + ',pnr: ' + JSON.stringify(model.Pnr) + ',seat: ' + JSON.stringify(model.Seat) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $("#AddMinusNewSectionMessage").css("display", "block");
                if (data != "") {
                    $("#AddMinusNewSectionMessage").html("<div class='alert alert-success'><strong>" + data + "</strong></div>");
                    $("#AddMinusNewSection").css("display", "none");
                    $("#btnMinusSubmit").html("Minus Seat");
                }
                else {
                    $("#AddMinusNewSectionMessage").html("<div class='alert alert-danger'><strong>There is some error occured</strong></div>");
                }
            }
        });
    });
</script>
<script>
    function GetExitingAvlSeatDetail() {
        let selfareid = $("#ddlExitFare option:selected").val();
        let selfaretext = $("#ddlExitFare option:selected").text();

        if (selfareid != "" && selfareid != undefined) {
            $.ajax({
                type: "Post",
                url: "/FlightSearchResults/GetAvlSeatDetailById",
                data: '{fareid: ' + JSON.stringify(selfareid) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data != "") {
                        $("#txtExitAvlSeat").val(data);
                        $('#btnAddMoreSeatSubmit').removeAttr("disabled");
                    }
                    else {
                        $("#txtExitAvlSeat").val("");
                        $('#btnAddMoreSeatSubmit').attr('disabled', 'disabled');
                    }
                }
            });
        }
    }

    $("#btnAddMoreSeatSubmit").click(function () {
        if ($("#ddlExitFare option:selected").val() == "" || $("#ddlExitFare option:selected").val() == "0") {
            alert("Please select fare first");
            $("#ddlExitFare").focus();
            return false;
        }
        if ($("#txtExitAvlSeat").val() == "") {
            alert("Please enter available seat");
            $("#txtExitAvlSeat").focus();
            return false;
        }
        if ($("#txtAddMoreSeat").val() == "" || $("#txtAddMoreSeat").val() == "0") {
            alert("Please enter more seat");
            $("#txtAddMoreSeat").focus();
            return false;
        }
        $("#btnAddMoreSeatSubmit").html("Please wait...<i class='fa fa-spinner fa-pulse'></i>");

        $.ajax({
            type: "Post",
            url: "/FlightSearchResults/AddMoreSeatInExistingFare",
            data: '{fareid: ' + JSON.stringify($("#ddlExitFare option:selected").val()) + ',newseatno:' + JSON.stringify($("#txtAddMoreSeat").val()) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                //$("#divMessageSection").css("display", "block");
                $("#AddMinusNewSectionMessage").css("display", "block");
                if (data != "") {
                    $("#AddSeatSection").css("display", "none");
                    $("#MinusSeatSection").css("display", "none");
                    $("#AddMoreSeatSection").css("display", "none");
                    $("#AddMinusNewSectionMessage").html("<div class='alert alert-success'><strong>" + data + "</strong></div>");
                    //$("#divMessageSection").html("<div class='alert alert-success'><strong>" + data + "</strong></div>");
                    //$("#divMessageSection").fadeOut(6000);
                }
                else {
                    $("#AddMinusNewSectionMessage").html("<div class='alert alert-danger'><strong>There is some error occured</strong></div>");
                }
                ResetAddMoreSeat();
            }
        });
    });

    function ResetAddMoreSeat() {
        $("#btnAddMoreSeatSubmit").html("Add More Seat");
        $('#btnAddMoreSeatSubmit').attr('disabled', 'disabled');
        $("#txtAvlSeat").val("");
        $("#txtAddMoreSeat").val("0");
        $("#ddlFare").val("0");
    }
</script>