﻿@model FixedDD.Models.SuppliorReportModel
@{
    ViewBag.Title = "SupplierList";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<link href="~/clockpicker.css" rel="stylesheet" />
<style>
    .table-bordered {
        border: 1px solid #ddd;
    }

    .fixed-table-body thead th .th-inner {
        box-sizing: border-box;
        background: #ccc;
    }

    .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        padding: 3px;
        line-height: 17px;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<fieldset>
    <legend>
        <span class="glyphicon glyphicon-list-alt"></span> Supplier List
    </legend>
</fieldset>
<div class="form-group">
    <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;">
        @using (Html.BeginForm("SupplierList", "FlightSearchResults", FormMethod.Post))
        {
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>From</label>
                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control dateAllFormate", placeholder = "dd/mm/yyy" })
                    </div>
                    <div class="col-sm-3">
                        <label>To</label>
                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control dateAllFormate", placeholder = "dd/mm/yyy" })
                    </div>
                    <div class="col-sm-3">
                        <label>SalesExecID</label>
                        @Html.TextBoxFor(p => p.SalesExecID, new { @class = "form-control", placeholder = "SalesExecID.." })
                    </div>
                    <div class="col-sm-3">
                        <label>Email</label>
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Email.." })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Mobile No</label>
                        @Html.TextBoxFor(p => p.MobileNo, new { @class = "form-control", placeholder = "Mobile No.." })
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" name="submitButton" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top: 24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                        <span class="btn btn-success form-control tempscss hidden" style="cursor:pointer;margin-top: 24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-condensed" data-toggle="table">
                <thead>
                    <tr>
                        <th>Agency Id</th>
                        <th>User Id</th>
                        <th>Agency Name</th>
                        <th>Agent Type</th>
                        <th>Mobile</th>
                        <th>Email</th>                        
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Balance</th>
                        <th>Agent Limit</th>
                        <th>Due Amount</th>
                        <th>Pan No</th>
                        <th>GST No</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Totalcount > 0)
                    {
                        foreach (var item in Model.SuppliorReportlist)
                        {
                            <tr>
                                <td>@item.AgencyId</td>
                                <td>@item.User_Id</td>
                                <td>@item.Agency_Name</td>
                                <td>@item.Agent_Type</td>
                                <td>@item.Mobile</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.City</td>
                                <td>@item.State</td>
                                <td>@item.Balance</td>
                                <td>@item.AgentLimit</td>
                                <td>@item.DueAmount</td>
                                <td>@item.PanNo</td>
                                <td>@item.GSTNO</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11" class="text-center text-danger">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/FltSearchResult.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    function CheckFormEX() {
        $('.maincssex').addClass('hidden');
        $('.tempscssex').removeClass('hidden');
    }
</script>
