﻿@using System.Linq;
@model IEnumerable<FixedDD.Models.FlightSearchResults>

@{
    ViewBag.Title = "SupplierPnr";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script src="~/Content/dropdown_search_box/js/select2.min.js"></script>
<link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/clockpicker.css" rel="stylesheet" />





<style>
    .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        padding: 4px;
        line-height: 18px;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table thead tr th {
        font-size: 14px;
        font-weight: 600 !important;
        color: #3f4f62 !important;
    }

    .bootstrap-table .table thead > tr > th {
        padding: 0px;
        margin: 0;
        background: #e6e6e6;
    }
</style>
<fieldset>
    <legend>
        <div class="row">
            <div class="col-sm-5">
                <span class="glyphicon glyphicon-list-alt"></span> PNR List
            </div>
            <div class="col-sm-7 pull-right">
                <button class="btn btn-sm btn-info" style="font-size: 11px;float: right; margin-top: 3px;margin-top: -2px;"> <span class="glyphicon glyphicon-ok-circle"></span>Totat Record (@ViewBag.totalrecord)</button>
                <a href="~/FlightSearchResults/Create" class="btn btn-primary btn-sm" style="float: right; margin-top: 3px;margin-top: -3px;margin-right: 4px;"><span class="fa fa-plus-circle"></span> Add New PNR </a>

            </div>
        </div>
    </legend>
</fieldset>
<div class="col-lg-12">
    @try
    {

        if (TempData["Msg"] != null)
        {
            if (TempData["Msg"].ToString() == "0")
            {
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> Record Already Exist. Unable to Save !
                </div>
            }
            else if (TempData["Msg"].ToString() == "1")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record submitted successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "2")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Update successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "3")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Delete successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "4")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Unable To Delete The Record. Data  used at another place.!
                </div>
            }
        }
    }
    catch { }
</div>
<form method="post" action="SupplierPnr">
    <div class="row form-group" style=" border: 1px solid #ccc; padding: 10px; box-shadow: 0px 0px 2px #ccc; border-radius: 4px !important;">
        <div class="col-sm-12 form-group">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control" id="from" name="from">
                        <option value="">Select From</option>
                        @{ System.Data.DataTable dt = FixedDD.Models.Global.GetOrgDestFromSelect(Session["userid"].ToString(), "1");}
                        @for (int i = 0; i < dt.Rows.Count; i++)
                        {
                            <option value="@dt.Rows[i][0].ToString()">@dt.Rows[i][0].ToString()</option>
                        }
                    </select>
                    <script>
                        $('#from').val('@ViewBag.from');
                    </script>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="to" name="to">
                        <option value="">Select To</option>
                        @{ System.Data.DataTable dts = FixedDD.Models.Global.GetOrgDestFromTo(Session["userid"].ToString(), "1");}
                        @for (int i = 0; i < dts.Rows.Count; i++)
                        {
                            <option value="@dts.Rows[i][0].ToString()">@dts.Rows[i][0].ToString()</option>
                        }
                    </select>
                    <script>
                            $('#to').val('@ViewBag.To');
                    </script>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="travelDatestart" autocomplete="off" style="border-radius: 4px !important;" id="travelDatestart" placeholder="travel start date.." value="@ViewBag.travelstartDate" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input type="text" name="travelDateEnd" autocomplete="off" style="border-radius: 4px !important;" id="travelDateEnd" placeholder="travel end date.." value="@ViewBag.travelDaendte" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control" id="supplierid" name="supplierid">
                        <option value="">Select supplier</option>
                        @{ System.Data.DataTable dtsup = FixedDD.Models.Global.Getsupplierlist();}
                        @for (int i = 0; i < dtsup.Rows.Count; i++)
                        {
                            <option value="@dtsup.Rows[i][1].ToString()">@dtsup.Rows[i][0].ToString()</option>
                        }
                    </select>
                    <script>
                        $('#supplierid').val('@ViewBag.supplier');
                    </script>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="Pnr" id="Pnr" style="border-radius: 4px !important;" placeholder="Pnr.." value="@ViewBag.Pnr" class="form-control fontSize" />
                </div>
                <div class="col-sm-2">
                    <input type="text" name="AirLine" id="AirLine" style="border-radius: 4px !important;" placeholder="airline.." value="@ViewBag.Airline" class="form-control fontSize AirLineName" />
                </div>
                <div class="col-sm-2">
                    <input type="text" name="flightno" id="flightno" style="border-radius: 4px !important;" placeholder="flight no.." value="@ViewBag.flightno" class="form-control fontSize" />
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-warning btn-sm form-control maincss" style="border-radius: 4px !important;" onclick="return CheckForm()" value="Search" />
                    <span class="btn btn-warning btn-sm form-control tempscss hidden" style="border-radius: 4px !important;">Please Wait..<i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
        </div>
    </div>
</form>

@{
    string UserID = Session["userid"].ToString();

    List<FixedDD.Models.FlightSearchResults> modelList = Model.ToList();
    List<string> refNumberList = modelList.Select(p => p.RefNo).Distinct().ToList();

    if (refNumberList.Count > 0)
    {
        <div class="row form-group">
            <div id="tbldata">
                <div class="table-responsive text-nowrap" style=" overflow-x: scroll; height: 400px;">
                    <table class="table table-striped table-condensed" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>
                                    Supplier Name
                                </th>

                                <th>
                                    Enable / Disable
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    To
                                </th>
                                <th>
                                    Dept - Arr Time
                                </th>
                                <th>
                                    Airline &nbsp;(flight No)
                                </th>
                                <th>PNR</th>
                                <th>
                                    Dep Date
                                </th>
                                <th>
                                    Seat Status
                                </th>
                                <th>
                                    View Fare
                                </th>
                                <th>
                                    Update Fare
                                </th>
                                <th>
                                    Add/Minus Seat
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in modelList.Where(P => P.IsPrimary == true))
                            {
                                int avlseat = 0;
                                int totseat = 0;
                                var pnrWiseList = modelList.Where(p => p.fareBasis == item.fareBasis);

                                foreach (var inneritem in pnrWiseList)
                                {
                                    avlseat = avlseat + Convert.ToInt32(inneritem.Avl_Seat);
                                    totseat = totseat + Convert.ToInt32(inneritem.Total_Seats);
                                }

                                <tr id="s_@item.RefNo" class="MOH">
                                    <td>
                                        <div class="btn-group" style="width:50px;">
                                            <a href="/FlightSearchResults/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="/FlightSearchResults/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                    </td>
                                    <td><span title="Supplier ID : @item.CreatedByUserid">@item.CreatedByName</span></td>
                                    <td align="center">
                                        @if (item.FixedDepStatus)
                                        {
                                            <span id="deleteagency_@item.id" onclick="StatusUpdator('@item.fareBasis',false)" style="cursor: pointer;font-size: 12px;border-radius: 5px !important;height: 27px; padding-top: 3px;" data-agencyid="@item.id" class="btn btn-danger btn-sm deleteagency" data-toggle="Disable" title="Disable"><span class="fa fa-trash" id="delagencyspan_@item.id"></span> Disable </span>
                                        }
                                        else
                                        {
                                            <span id="restoreagency_@item.id" onclick="StatusUpdator('@item.fareBasis',true)" style="color:#fff;cursor: pointer;font-size: 12px;border-radius: 5px !important;height: 27px; padding-top: 3px;" data-agencyid="@item.id" class="btn btn-warning btn-sm restoreagency" data-toggle="Enable" title="Enable "><span class="fa fa-undo" id="restoreagencyspan_@item.id"></span> Enable </span>
                                        }
                                    </td>
                                    <td>
                                        @item.DepAirportCode.Replace("(", "").Replace(")", "")
                                    </td>
                                    <td>
                                        @item.ArrAirportCode.Replace("(", "").Replace(")", "")
                                    </td>
                                    <td>
                                        @item.DepartureTime - @item.ArrivalTime
                                    </td>
                                    <td>
                                        @item.AirLineName  (@item.FlightNo)
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.fareBasis))
                                        {
                                            <span class="text-success">@item.fareBasis.ToUpper()</span>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Departure_Date)
                                    </td>
                                    <td>
                                        @avlseat SEATS of @totseat
                                    </td>
                                    <td class="text-center">
                                        <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("ViewFare", "FlightSearchResults", new { id = item.id, pnr = item.fareBasis })" class="openclose"><span class="btn btn-danger btn-xs">View Fare</span></a>
                                    </td>
                                    @if (item.FixedDepStatus)
                                    {
                                        if (avlseat == 0)
                                        {
                                            <td class="text-center"><b style="color: #ec971f;">Seat Not Avl</b></td>
                                            <td class="text-center"><b style="color: #ec971f;">Seat Not Avl</b></td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("UpdateFare", "FlightSearchResults", new { id = item.id, pnr = item.fareBasis })" class="edit800"><span class="btn btn-danger btn-xs">Update Fare</span></a>
                                            </td>
                                            <td class="text-center">
                                                <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("AddSeat", "FlightSearchResults", new { id = item.id, seat2 = item.Avl_Seat, totalst = item.Total_Seats, pnr = item.fareBasis })" class="edit800"><span class="btn btn-danger btn-xs">ADD/Minus Seat</span></a>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="text-center"><b class="text-danger">Disable</b></td>
                                        <td class="text-center"><b class="text-danger">Disable</b></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}

<style>
    .btn-info:hover {
        cursor: no-drop;
    }

    .hiddenRow {
        padding: 0 4px !important;
        display: none;
    }

    .showRow {
        padding: 0 4px !important;
        display: block;
    }
</style>
<script>
    $("#from").select2();
    $("#to").select2();
    //var NextPage = function () {
    //    var PageNo = $('#txtSelect').val();
    //    $.get('/FlightSearchResults/NextResult?page=' + PageNo, function (data) {
    //        $('#tbldata').html(data);
    //    });
    //}
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    $(document).on("click", ".MOH", function (e) {
        debugger
        var rowid = this.id;
        var itemId = rowid.substring(2, rowid.length);
        //   $('.H_'+itemId).show();
        $('.H_' + itemId).toggle();


    })

    function StatusUpdator(fareBasis, status) {

        let from = $("#from option:selected").val();
        let to = $("#to option:selected").val();
        let travelDate = $("#travelDate").val();
        let Pnr = $("#Pnr").val();

        $.ajax({
            type: "Post",
            url: "/FlightSearchResults/StatusUpdator",
            data: '{farebasis: ' + JSON.stringify(fareBasis) + ',status:' + JSON.stringify(status) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                if (data[0] == "Success") {
                    if (status == true) {
                        alert("Item Enable successfully");
                    }

                    else {
                        alert("Item Disable successfully");
                    }

                    location.reload();

                    $("#from").val(from);
                    $("#to").val(to);
                    $("#travelDate").val(travelDate);
                    $("#Pnr").val(Pnr);
                }
            }
        });
    }
</script>

<link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/FltSearchResult.js"></script>
<script src="~/Content/fancybox/jquery.fancybox.js"></script>
<script src="~/Content/fancybox/common.js"></script>