﻿@model FixedDD.Models.FlightTicketReportModel

@{
    ViewBag.Title = "Fix Dep Booking Report";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<link href="~/clockpicker.css" rel="stylesheet" />
<style>
    .table-bordered {
        border: 1px solid #ddd;
    }

    .fixed-table-body thead th .th-inner {
        box-sizing: border-box;
        background: #ccc;
    }

    .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        padding: 3px;
        line-height: 17px;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<fieldset>
    <legend>
        <span class="glyphicon glyphicon-list-alt"></span> Ticket Report List
    </legend>
</fieldset>
<div class="form-group">
    <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;">
        @using (Html.BeginForm("TicketReport", "FlightSearchResults", FormMethod.Post))
        {
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>From</label>
                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control dateAllFormate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                    </div>
                    <div class="col-sm-3">
                        <label>To</label>
                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control dateAllFormate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                    </div>
                    <div class="col-sm-3">
                        <label>PNR</label>
                        @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                    </div>
                    <div class="col-sm-3">
                        <label>Order Id</label>
                        @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Pax Name</label>
                        @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                    </div>
                    <div class="col-sm-3">
                        <label>Ticket No.</label>
                        @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "TicketNo.." })
                    </div>
                    <div class="col-sm-3">
                        <label>Airline</label>
                        @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "TicketNo.." })
                    </div>
                    <div class="col-sm-3">
                        <label>Trip Type</label>
                        @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                 new { value = "" , text = "--Select--" },
                                new { value = "D" , text = "Domestic" },
                                new { value = "I" , text = "International"},
                             }, "value", "text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <input type="submit" name="submitButton" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                        <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" name="submitButton" class="btn btn-info maincssex form-control" style="cursor:pointer;"  value="EXPORT" />
                        <span class="btn btn-info form-control tempscssex hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    @if (Model.Totalcount > 0)
    {
        int totalpax = Model.Totalcount;
        decimal totamount = 0;
        foreach (var item in Model.TicketReportlist)
        {
            totamount = totamount + item.TotalAfterDis;
        }
        <div class="col-sm-12" style="margin-top: -40px;">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        Total Passenger Count : @totalpax
                    </div>
                    <div class="col-sm-6">
                        Total Amount : ₹ @totamount
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-12">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-condensed" data-toggle="table">
                <thead>
                    <tr>
                        <th>ORDER ID</th>
                        <th>PNR</th>
                        <th>TICKET NO</th>
                        <th>Pax NAME</th>
                        @*<th>AGENCY NAME</th>*@
                        <th>AIRLINE</th>
                        <th>SECTOR</th>
                        <th>BOOKING DATE</th>
                        <th>JOURNEY DATE</th>
                        <th>AMOUNT PER PAX</th>
                        @*<th>TOTAL AMOUNT</th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Totalcount > 0)
                    {
                        foreach (var item in Model.TicketReportlist)
                        {
                            <tr>
                                @*<td><a target="_blank" href="https://tripforo.com/Report/supplier/PnrSummaryIntl.aspx?OrderId=@item.OrderId">@item.OrderId</a></td>*@
                                <td>                        <span style="color:blue;">@item.OrderId</span></td>
                                <td>@item.GdsPnr</td>
                                <td>@item.TicketNo</td>
                                <td>@item.PName</td>
                                @*<td>@item.AgentId</td>*@
                                <td>@item.VC</td>
                                <td>@item.sector</td>
                                <td>@item.CreateDate</td>
                                <td>@item.JourneyDate</td>
                                <td class="text-center">@item.TotalAfterDis</td>
                                @*<td class="text-center">@item.TotalBookingCost</td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11" class="text-center text-danger">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/FltSearchResult.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    //function CheckFormEX() {
    //    $('.maincssex').addClass('hidden');
    //    $('.tempscssex').removeClass('hidden');
    //}
</script>
