﻿@model FixedDD.Models.UpdateFare
@{
    ViewBag.Title = "UpdateFare";
    Layout = "~/Views/Shared/Popup.cshtml";
}

<style>
    .heading {
        text-align: center;
        display: block !important;
        background: #ecf3f9 !important;
        color: red;
        padding: 5px;
    }

    .row_border {
        border: 1px solid #000;
        padding: 5px;
    }
</style>

<div class="container-fluid">    
    <div class="row form-group row_border">
        <div class="col-sm-12 form-group">
            <label class="heading">UPDATE FARE</label>
        </div>
        @if (!string.IsNullOrEmpty(Convert.ToString(TempData["Msg"])))
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Convert.ToString(TempData["Msg"])</strong>
            </div>
        }
        else
        {
            using (Html.BeginForm("UpdateFare", "FlightSearchResults", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-2 form-group form-validation">
                        <h5>PNR No.</h5>
                    </div>
                    <div class="col-sm-4 form-group form-validation">
                        @Html.HiddenFor(p => p.Id)
                        @Html.TextBoxFor(b => b.Pnr, new { @class = "form-control ", @readonly = "readonly", @style = "text-transform:uppercase;" })
                    </div>
                    <div class="col-sm-6 form-group form-validation">
                        <p style="color:red;">Please select fare slab first, before new update !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group form-validation">
                        <h5>Fare Slab</h5>
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        @{
                            List<SelectListItem> oldFareList = new List<SelectListItem>();
                            foreach (var item in Model.BasicFareList)
                            {
                                string[] strsplit = item.Text.Split(',');

                                oldFareList.Add(new SelectListItem
                                {
                                    Text = strsplit[0],
                                    Value = item.Value
                                });
                            }
                        }
                        @Html.DropDownListFor(model => model.SelectedOldFare, oldFareList, "Fare", new { @class = "form-control", @onchange = "GetFareDetail()" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <h5>Seat Left</h5>
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <input type="text" id="txtSeatLeft" class="form-control fontSize" readonly="readonly" />
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <h5>Seat Sold</h5>
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <input type="text" id="txtSeatSold" class="form-control fontSize" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group form-validation">
                        <h5>Existing Infant Fare</h5>
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <input class="form-control " id="txtExistingInfentfare" name="ExistingInfentfare" onkeypress="return isNumberValidationPrevent(event);" type="text" value="0" readonly="readonly" />
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <h5>Existing Total Tax</h5>
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <input class="form-control " id="txtExistingTotalTax" name="ExistingBasefare" onkeypress="return isNumberValidationPrevent(event);" onkeyup="return CalculateFare();" type="text" value="0" readonly="readonly" />
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <h5>Existing Total Markup</h5>
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <input class="form-control " id="txtExistingTotalMarkup" name="ExistingTotalMarkup" onkeypress="return isNumberValidationPrevent(event);" onkeyup="return CalculateFare();" type="text" value="0" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group form-validation" style="border-top: 2px solid red;"></div>
                </div>


                <div class="row">
                    <div class="col-sm-4 form-group form-validation">
                        <h5>Update Seat Count <span style="color:red;">*</span></h5>
                    </div>
                    <div class="col-sm-5 form-group form-validation">
                        @*@Html.TextBoxFor(b => b.UpdateSeatCount, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);" })*@

                        <select id="ddlSelectedSeat" class="form-control" onchange="SetSelectedSeat()">
                            <option>Select Seat</option>
                        </select>
                        @Html.HiddenFor(b => b.UpdateSeatCount)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group form-validation">
                        <label>Basic Fare</label>
                        @Html.TextBoxFor(b => b.Basefare, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>YQ</label>
                        @Html.TextBoxFor(b => b.YQ, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>YR</label>
                        @Html.TextBoxFor(b => b.YR, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>OT</label>
                        @Html.TextBoxFor(b => b.OT, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);", @onkeyup = "return CalculateFare();" })
                    </div>
                    <div class="col-sm-2 form-group form-validation">
                        <label>Grand Total <span style="color:red;">*</span></label>
                        @Html.TextBoxFor(b => b.Amount, new { @Value = "0", @class = "form-control ", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-sm-2 form-group form-validation">
                            <label>Markup1</label>
                            @Html.TextBoxFor(b => b.Markup, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);" })
                        </div>
                        <div class="col-sm-2 form-group form-validation">
                            <label>Markup2</label>
                            @Html.TextBoxFor(b => b.Markup2, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);" })
                        </div>*@
                    <div class="col-sm-3 form-group form-validation">
                        <label>Infant Fare</label>
                        @Html.TextBoxFor(b => b.InfantFare, new { @Value = "0", @class = "form-control ", @onkeypress = "return isNumberValidationPrevent(event);" })
                    </div>
                    <div class="col-sm-9 form-group form-validation">
                        <input type="submit" id="btnSubmit" style="display: none; margin-top: 27px;" class="btn btn-warning btn-sm btn-lg pull-right fontSizebtn" value="Update Detail" onclick="return CheckForm()" />
                    </div>
                </div>
            }
        }
    </div>
</div>
<script src="~/Content/fancybox/common.js"></script>
<script>
    function CheckForm() {
        let issuccess = true;
        if ($("#Pnr").val() == "") {
            alert("Please enter pnr?");
            $("#Pnr").focus();
            issuccess = false;
        }
        if ($("#SelectedOldFare").val() == "") {
            alert("Please select fare slab?");
            issuccess = false;
            return false;
        }

        let txtSeatLeft = $("#txtSeatLeft").val();
        if (parseInt($("#UpdateSeatCount").val()) > parseInt(txtSeatLeft)) {
            alert("Update seat count should be less then or equal to seat left?");
            $("#UpdateSeatCount").focus();
            issuccess = false;
            return false;
        }

        if ($("#UpdateSeatCount").val() == "" || $("#UpdateSeatCount").val() == "0") {
            alert("Please select update seat count?");
            $("#UpdateSeatCount").focus();
            issuccess = false;
            return false;
        }

        if ($("#Amount").val() == "" || $("#Amount").val() == "0") {
            alert("Please enter grand total?");
            $("#Amount").focus();
            issuccess = false;
            return false;
        }

        if (issuccess) {
            if ($("#Amount").val() != "0") {
                $("#btnSubmit").val("Updating...");
                return true;
            }
        }
        return false;
    }

    function CalculateFare() {
        let basefare = ($("#Basefare").val() == "" ? 0 : parseFloat($("#Basefare").val()));
        let yqfare = ($("#YQ").val() == "" ? 0 : parseFloat($("#YQ").val()));
        let yrfare = ($("#YR").val() == "" ? 0 : parseFloat($("#YR").val()));
        let otfare = ($("#OT").val() == "" ? 0 : parseFloat($("#OT").val()));
        $("#Amount").val(basefare + yqfare + yrfare + otfare);
    }

    function GetFareDetail() {
        //$('#mySelect').prop('selectedIndex', 0);
        let selectedfare = $("#SelectedOldFare").val();
        let pnr = $("#Pnr").val();
        if (selectedfare != "") {
            $.ajax({
                type: "Post",
                url: "/FlightSearchResults/GetPnrDetail",
                data: '{pnr: ' + JSON.stringify(pnr) + ',fare:' + JSON.stringify(selectedfare) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    debugger;
                    if (data != null && data.id != null) {
                        $("#txtSeatLeft").val(data.Avl_Seat);

                        let avlseat = parseInt(data.Avl_Seat);
                        if (avlseat > 0) {
                            $("#ddlSelectedSeat").children().remove();
                            $("#ddlSelectedSeat").append($('<option>').val("").text('Select Seat'));
                            for (let i = 1; i <= avlseat; i++) {
                                $("#ddlSelectedSeat").append($('<option></option>').val(i).html(i));
                            }
                        }

                        $("#txtSeatSold").val(data.Used_Seat);

                        $("#txtExistingInfentfare").val(data.InfFare);
                        $("#txtExistingTotalTax").val(parseFloat(data.YQ) + parseFloat(data.YR) + parseFloat(data.OT));
                        $("#txtExistingTotalMarkup").val(parseFloat(data.SupMarkup) + parseFloat(data.MarkupWithGst));

                        $("#UpdateSeatCount").val("0");
                        $("#InfantFare").val(data.InfFare);
                        $("#Basefare").val("0");
                        $("#YQ").val("0");
                        $("#YR").val("0");
                        $("#OT").val("0");
                        $("#Amount").val("0");
                        $("#Markup").val(data.SupMarkup);
                        $("#Markup2").val(data.MarkupWithGst);
                        if (parseInt(data.Avl_Seat) > 0) {
                            /*$("#btnSubmit").css("display", "block");*/
                        }
                    }
                }
            });
        }
        else {
            $("#txtSeatLeft").val("");
            $("#txtSeatSold").val("");

            $("#txtExistingInfentfare").val("");
            $("#txtExistingTotalTax").val("");
            $("#txtExistingTotalMarkup").val("");

            $("#UpdateSeatCount").val("0");
            $("#InfantFare").val("0");
            $("#Basefare").val("0");
            $("#YQ").val("0");
            $("#YR").val("0");
            $("#OT").val("0");
            $("#Amount").val("0");
            $("#Markup").val("0");
            $("#Markup2").val("0");

            $("#btnSubmit").css("display", "none");
        }
    }

    function SetSelectedSeat() {
        let selectseat = $("#ddlSelectedSeat option:selected").val();
        if (selectseat != "") {
            $("#UpdateSeatCount").val(selectseat);
            $("#btnSubmit").css("display", "block");
        }
        else {
            $("#UpdateSeatCount").val("0");
            $("#btnSubmit").css("display", "none");
        }
        //UpdateSeatCount
    }

    
</script>
