﻿@model FixedDD.Models.FixedViewFare
@{
    ViewBag.Title = "ViewFare";
    Layout = "~/Views/Shared/Popup.cshtml";
}

<style>
    .heading {
        text-align: center;
        display: block !important;
        background: #ecf3f9 !important;
        color: red;
        padding: 5px;
    }

    .row_border {
        border: 1px solid #000;
        padding: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row form-group row_border">
        <div class="col-sm-12 form-group">
            <label class="heading">VIEW FARE</label>
        </div>
        <table class="table table-striped table-condensed" data-toggle="table" style="text-align: center;">
            <tr>
                <th style="text-align: center;">Fare</th>
                <th style="text-align: center;">Sold Seat Count</th>
                <th style="text-align: center;">UnSold Seat Count</th>
            </tr>
            @if (Model.FixedViewFareList != null && Model.FixedViewFareList.Count > 0)
            {
                foreach (var item in Model.FixedViewFareList)
                {
                    <tr>
                        <td>@item.Amount</td>
                        <td>@item.SoldSeat</td>
                        <td>@item.UnSoldSeat</td>
                    </tr>
                }
            }
        </table>

    </div>
</div>