﻿@model IEnumerable<FixedDD.Models.AdtFareDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<fieldset>
    <legend>
        <span class="glyphicon glyphicon-fullscreen"></span> Fare Details
    </legend>
</fieldset>
<div class="col-lg-12">
    @try
    {
        if (!string.IsNullOrEmpty(TempData["Msg"].ToString()))
        {
            if (TempData["Msg"].ToString() == "0")
            {
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> Record Already Exist. Unable to Save !
                </div>
            }
            else if (TempData["Msg"].ToString() == "1")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record submitted successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "2")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Update successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "3")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Delete successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "4")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Unable To Delete The Record. Data  used at another place.!
                </div>
            }
        }
    }
    catch { }
</div>

<div class="row form-group">
    <div class="col-lg-6">
        <a href="/FixedDeparture/AdtFareDetails/Create" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle"></span> Add New </a>
        <button class="btn btn-sm btn-info pull-left"> <span class="glyphicon glyphicon-ok-circle"></span>Totat Record (@ViewBag.totalrecord)</button>
    </div>
    <div class="col-lg-6 hidden">
        <form method="post" action="/FixedDeparture/AdtFareDetails/Index">
            <div class="col-sm-12  input-group">
                <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                <input type="text" class="form-control" id="Search" name="Search" placeholder="Search" value="@ViewBag.search" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed" data-height="400" data-toggle="table">
            <thead>
                <tr>
                    <th>
                        AdtFare
                    </th>
                    <th>
                        AdtBfare
                    </th>
                    <th>
                        AdtTax
                    </th>
                    <th>
                        AdtFSur
                    </th>
                    <th>
                        AdtYR
                    </th>
                    <th>
                        AdtWO
                    </th>
                    <th>
                        AdtIN
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.AdtFare
                        </td>
                        <td>
                            @item.AdtBfare
                        </td>
                        <td>
                            @item.AdtTax
                        </td>
                        <td>
                            @item.AdtFSur
                        </td>
                        <td>
                            @item.AdtYR
                        </td>
                        <td>
                            @item.AdtWO
                        </td>
                        <td>
                            @item.AdtIN
                        </td>

                        <td>
                            <div class="btn-group">
                                <a href="/AdtFareDetails/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/AdtFareDetails/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                <a href="/AdtFareDetails/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
